@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5"> Femme - Sua Loja de Roupas </h1>
    <h3 class="display-7"> <p>Boas Compras!</p></h3>
    <img src="~/img/roupa.jpg" alt="Femme" style="max-width: 100%; height: auto;" />
    
    <!-- 
        <a href="@Url.Action("Home", "Produtos")" class="btn btn-primary">Ver Produtos</a> />
    --> 
        
</div>
